:root{
    --color-primary:#f04e37;
    --color-secondary:#fff5e6;
    --black--color:#231f20;

    --big-text-:8.51rem;
    --nav-text:1.5rem;
    --normal-text:1.31rem;
    --title-text:7.28rem;
    --qa-text:5.62rem;
    
    --ff-normal:'Montserrat', sans-serif;
    --ff-bold:'Poppins', sans-serif;
}

*,
*::after,
*::before{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-size: 16px;
    background: var(--color-primary);
    font-family: var(--ff-normal);
}

body.disabledScroll{
    overflow: hidden;
}

html{
    scroll-behavior: smooth;
}

a, li{
    text-decoration: none;
    list-style: none;
}

/* =============== HOME SECTION =============== */

.container{
    display: grid;
    grid-template-columns: 10% 90%;
    width: 100%;
    height: 100vh;
}

.sticky{
    position: fixed;
    display: flex;
    justify-content: space-between;
    top: 0;
    width: 100%;
    z-index: 2;
    box-shadow: rgba(54, 54, 54, 0.2) 0px 8px 24px;
/*     box-shadow: 0px 15px 10px -15px rgba(54, 54, 54, 0.2); */  
}

.fix{
    margin-top: 9.8rem;
}

/* =============== LEFT SIDE =============== */

.container .left{
    display: flex;
    justify-content: center;
    background: var(--color-secondary);
    height: 100%;
    text-align: center;
}

.container .left p{
    font-size: var(--qa-text);
    font-family: var(--ff-bold);
    writing-mode: vertical-lr;
    transform: rotate(180deg);
    text-transform: uppercase;
}

/* =============== RIGTH SIDE =============== */

.container .right{
    display: grid;
    grid-template-columns: 10% 1fr 1fr 1fr 1fr 10%;
    grid-template-rows: repeat(4, 1fr);
/*     grid-template-rows: 1fr 1fr 1fr 1fr 10%; */
    color: var(--color-secondary);
}

.container .right .text{
    grid-column: 2 / span 3 ;
    grid-row: 2 / span 2;
    padding-right: 2em;
}

.container .right .text p{
    font-size: var(--normal-text);
    font-weight: bold;
    line-height: 2.5em;
    letter-spacing: .3em;
}

.container .right .circle{
    grid-column: 5 ;
    grid-row: 2;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 250px;
    width: 250px;
    border: 10px solid white;
    border-radius: 50%;
    font-size: var(--big-text-);
    font-weight: lighter;
}

.container .right .social{

    grid-column: 2 / span 4  ;
    grid-row: 4;
    font-size: var(--normal-text);
    text-transform: uppercase;
    margin-bottom: 2em;
    letter-spacing: .2em;
}

.container .right .social p{
    position: relative;
}

.container .right .social p::after{
    content: '';
    position: absolute;
    top: 50%;
    left: 15rem;
    background: var(--color-secondary);
    width: 10.8rem;
    height: 3px;
}

.container .right .social .links{
    margin-top: 1.5em;
}

.container .right .social .links a{
    color: var(--color-secondary);
    font-size: 16px;
    margin-right: 1.5em;
}

.container .right .social .links a:hover{
    color: #dbd3c7;
}